# IDE
.idea
.DS_Store

.env
.upload.env
*.qgs~
.cnab/
/*.pem
/node_modules

/lizmap
/lizmap.dir/**/*.tif
/lizmap.dir/**/*.tif.aux.xml
/lizmap.dir/**/*.tif.ovr
/lizmap.dir/**/*.PNG
/lizmap.dir/**/htaccess
/lizmap.dir/**/*.gpkg
/lizmap.dir/**/*.gpkg*
/lizmap.dir/**/*.cpg
/lizmap.dir/**/*.dbf
/lizmap.dir/**/*.prj
/lizmap.dir/**/*.shp
/lizmap.dir/**/*.shx
/lizmap.dir/**/*.bmp
/lizmap.dir/**/*.tfw
/lizmap.dir/**/*.qmd
/lizmap.dir/**/*.kml
/lizmap.dir/**/*.vrt
/lizmap.dir/**/*.qix
/lizmap.dir/instances/**/*.csv
